venv/
venv\
.venv/
__pycache__/
*.pyc
.mypy_cache/
.pytest_cache/
coverage/
htmlcov/
dist/
build/
node_modules/
frontend/react-app/node_modules/
*.log
.env
.env.*
*.sqlite3
/.vscode/
.DS_Store
*.egg-info/
pip-wheel-metadata/
/.pytest_cache/
package-lock.json
yarn.lock
pnpm-lock.yaml
